main .addProduct {
  flex-direction: column;
}

main .addProductForm {
  max-width: 390px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.addProductForm > input {
  padding: 10px 0;
  border-bottom: 1px solid var(--borderColor);
}

.addProductForm .addProductFormLabel {
  color: var(--textColor);
  font-size: 13px;
  margin: 10px 0;
}

.addProductForm #addProductImg {
  display: none;
}

.addProductForm .addProductFormUplodeImg {
  position: relative;
  width: 100%;
  height: 204px;
  border-radius: 10px;
  background-color: var(--borderColor);
}

.addProductFormUplodeImg .addProductUplodeImg {
  position: absolute;
  width: 36px;
  height: 36px;
  bottom: 3%;
  right: 2%;
}

.addProductForm .addProductUplodeImgScreen{
  position: relative;
  width: 100%;
  height: 204px;
  border-radius: 10px;
  background-color: var(—-borderColor);
}

.timeSelct{
  width: 100%;
}

.addProductForm #addProductName:focus,
.addProductForm #addProductName:active,
.addProductForm #addProductPrice:focus,
.addProductForm #addProductPrice:focus {
  outline: none;
  border: none;
  border-bottom: 1px solid var(--mainColor);
}

.addProductForm .addProductTimeSelect .addProductSelectBtn {
  width: 100%;
  margin-top: 10px;
  padding: 7px;
  color: var(--borderColor);
  font-size: 12px;
  text-align: start;
  border: 1px solid var(--borderColor);
  border-radius: 10px;
  background: url(../../asset/images/icons/icon__settingBtn.svg) no-repeat;
  background-position: right 14px center;
}

.addProductTimeSelect .addProductTimeList {
  display: none;
  margin-top: 5px;
  border: 1px solid var(--borderColor);
  box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.addProductTimeSelect .addProductTimeList li {
  width: 100%;
}

.addProductTimeSelect .addProductTimeList .textEllipsis {
  width: 100%;
  margin-top: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border: none;
  border-radius: 8px;
  background-color: white;
}

.addProductForm #addProductContent {
  padding: 10px;
  height: 184px;
  box-sizing: border-box;
  border: 1px solid var(--borderColor);
  border-radius: 10px;
  resize: none;
}

.addProductForm #addProductContent:focus,
.addProductForm #addProductContent:active {
  outline: none;
  border: none;
  border: 1px solid var(--mainColor);
}

.addProductSelectBtn.on+.addProductTimeList {
  display: block;
}