main .updateProfileImg {
  display: flex;
  justify-content: center;
}

.updateProfileImg .profileImgBtn {
  display: flex;
  flex-direction: column;
}

.updateProfileImg .profileImgBtn .imgUploadBtn {
  position: relative;
  top: -81px;
  left: 75px;
  width: 36px;
  height: 36px;
  cursor: pointer;
}

main .updateProfileImg > input {
  display: none;
}

.updateProfileImg .updateUserImg {
  width: 110px;
  height: 110px;
  margin: 50px auto;
}

.updateProfileImg .updateUserImg.addImg {
  border: 1px solid var(--borderColor);
  border-radius: 50%;
}

main .profileModificationForm {
  max-width: 322px;
  margin: auto;
  padding: 0;
}

main .logInForm .registerFormLabel {
  font-weight: 500;
  font-size: 12px;
  color: var(--textColor);
}

.alertMessage {
  align-self: flex-start;
  color: orangered;
  font-size: 13px;
}

.profileModificationForm #name,
.profileModificationForm #id,
.profileModificationForm #introduce {
  width: 100%;
  padding: 5px;
  border-bottom: 1.5px solid var(--borderColor);
  margin-bottom: 16px;
  font-size: 14px;
  font-weight: 400;
}

.profileModificationForm #name:focus,
.profileModificationForm #id:focus,
.profileModificationForm #introduce:focus {
  border-color: var(--mainColor);
  transition: border-color 0.2s ease-in-out;
}
