main.home {
  display: flex;
  justify-content: center;
}

main .post {
  padding: 4px 0 34px 0;
}

.post .moreBtn {
  width: 20px;
  height: 20px;
  background: url("../../asset/images/icons/icon__menu.svg") no-repeat center /
    20px 20px;
}

.post .postContent {
  padding: 0 16px 0 80px;
}

.post .postContent p {
  font-size: 14px;
  font-weight: 400;
  word-break: break-all;
  margin-bottom: 16px;
  line-height: 18px;
}

.post .postImgContent {
  max-width: 304px;
  height: 228px;
  border-radius: 10px;
  overflow-y: hidden;
  overflow-x: scroll;
  margin-bottom: 16px;
  padding-bottom: 12px;
}

.post .postContent ul {
  display: flex;
}

.post .postContent ul li {
  min-width: 100%;
  height: 228px;
  border-radius: 10px;
  /* overflow: hidden; */
}

.post .postContent ul li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.postContent .postBtnContent {
  display: flex;
}

.postBtnContent .likeBtn {
  padding: 0;
  border: none;
  display: flex;
  align-items: center;
  margin-right: 18px;
  cursor: pointer;
  background-color: white;
}

.postBtnContent .likeBtn::before {
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  background: url("../../asset/images/icons/icon__heart.svg") no-repeat center /
    20px 20px;
  margin-right: 6px;
}

.postBtnContent .likeBtn.on::before {
  background: url("../../asset/images/icons/icon__heartSelected.svg") no-repeat
    center / 20px 20px;
}

.postBtnContent .commentBtn {
  display: flex;
  align-items: center;
  margin-right: 18px;
  cursor: pointer;
}

.postBtnContent .commentBtn::before {
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  background: url("../../asset/images/icons/icon__message.svg") no-repeat center /
    20px 20px;
  margin-right: 6px;
}

.postBtnContent .likeCount,
.commentCount {
  font-size: 12px;
  line-height: 12px;
  color: var(--textColor);
}

.postContent .postDate {
  display: block;
  margin-top: 10px;
  font-size: 10px;
  color: var(--textColor);
}

/* 스크롤 커스텀 */
.postImgContent::-webkit-scrollbar {
  height: 10px;
}

.postImgContent::-webkit-scrollbar-thumb {
  background: var(--mainColor);
  border-radius: 10px;
}

.postImgContent::-webkit-scrollbar-track {
  background: white;
}
