.headerBar.followers::after {
  content: "Follow";
  font-weight: 500;
  font-size: 14px;
  margin-left: 13px;
}

.profile .followBtn {
  width: 56px;
  height: 28px;
  border-radius: 26px;
  font-weight: 400;
  font-size: 12px;
}

.userBox .userProfileImage.follow {
  height: 50px;
  object-fit: cover;
}

.userList .profile.followBtn.cancel {
  background-color: white;
  border: 1px solid var(--borderColor);
  color: var(--textColor);
}

.userBox .userInfo.follow {
  width: calc(100% - 128px);
  display: flex;
  flex-direction: column;
}

.profile .followBtn {
  pointer-events: none;
}
