.profileBackground {
  background-color: #f2f2f2;
}

.myFollow.myProfileImg .myImage {
  width: 108px;
  height: 108px;
  border: 1px solid var(--borderColor);
  border-radius: 50%;
}

.ProfileContent .introduce {
  text-align: center;
  margin-bottom: 10px;
  background-color: white;
  padding-bottom: 33px;
}

.introduce .followers::after {
  display: block;
  content: "followers";
  margin-top: 5px;
  color: var(--textColor);
  font-size: 8px;
}

.introduce .followings::after {
  display: block;
  content: "followings";
  margin-top: 5px;
  color: var(--textColor);
  font-size: 8px;
}

.introduce .myFollow.myProfileImg {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
}

.myFollow.myProfileImg .followings,
.myFollow.myProfileImg .followers {
  margin-top: 65px;
  font-weight: 700;
  font-size: 18px;
  color: black;
  height: 40px;
}

.myFollow.myProfileImg .followers {
  color: black;
}

.myFollow.myProfileImg .followings {
  color: var(--textColor);
}

.myFollow.myProfileImg .myImage {
  margin: 0 auto;
  margin-top: 30px;
}

.ProfileContent .profileInfo {
  margin-top: 15px;
}

.profileInfo .userName {
  font-weight: 700;
}

.profileInfo .userId {
  margin-top: 5px;
  color: var(--textColor);
  font-size: 12px;
}

.profileInfo .introduction {
  margin: 15px 0 24px 0px;
  color: var(--textColor);
  font-size: 14px;
}

.link {
  margin-top: 24px;
}

.link .followBtn {
  padding: 8px 40px;
  vertical-align: top;
  margin: 0 10px;
  color: white;
  border-radius: 30px;
  background-color: var(--mainColor);
}

.link .messageBtn {
  border: 1px solid var(--borderColor);
  border-radius: 50%;
  padding: 6px;
}

.link .fixProfile,
.link .addPosting {
  padding: 8px 26px;
  color: var(--textColor);
  background: white;
  border: 1px solid var(--borderColor);
  border-radius: 30px;
  font-size: 14px;
}

.link .addPosting {
  margin-left: 12px;
}

.ProfileContent .saleItems {
  overflow: hidden;
  background-color: white;
}

.saleItems .title {
  margin: 20px 0 15px 20px;
  font-weight: 700;
  font-size: 16px;
}

.saleItems .productList {
  display: flex;
  gap: 10px;
  margin: 0 0 20px 20px;
  overflow: scroll;
  overflow-y: hidden;
}

.saleItems .productList li {
  cursor: pointer;
}

.saleItems .productList img {
  width: 140px;
  height: 90px;
  object-fit: cover;
  border: 0.5px solid var(--borderColor);
  border-radius: 8px;
}

.productList .ProductTitle {
  width: 136px;
  margin: 6px 0px 4px 0px;
  font-weight: 400;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.productList .price {
  font-weight: 700;
  font-size: 12px;
  color: var(--mainColor);
}

.ProfileContent .postingSummary {
  background-color: white;
}

.postingSummary .albumBar {
  width: 100%;
  height: 48px;
  padding: 0 10px;
  margin-top: 10px;
  box-sizing: border-box;
  background-color: white;
  border-bottom: 1px solid var(--borderColor);
  display: flex;
  align-items: center;
  position: static;
  justify-content: flex-end;
  gap: 18px;
}

.albumBar .postingType.unselected {
  opacity: 0.3;
}

.postContent .postingList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 390px;
  margin: auto;
  grid-row-gap: 8px;
}

.postContent .postingList li {
  text-align: center;
  cursor: pointer;
}
