.registerWrap {
  background-color: white;
  justify-content: flex-start;
}

header .registerHeader {
  margin-top: 40px;
  font-weight: 500;
  font-size: 24px;
}

header .registerInfo {
  margin: 15px 0 0 0;
  font-size: 14px;
  color: var(--textColor);
}

main.registerFormMain {
  padding-top: 0;
}

main .registerForm .registerFormLabel {
  align-self: flex-start;
  color: var(--textColor);
  font-size: 13px;
  margin: 10px 0;
}

main .registerForm #username,
main .registerForm #id,
main .registerForm #email,
main .registerForm #password,
main .registerForm #intro {
  width: 100%;
  padding: 5px;
  border-bottom: 1.5px solid var(--borderColor);
}

main .registerForm #email:focus,
main .registerForm #password:focus {
  border-color: var(--mainColor);
  transition: border-color 0.2s ease-in-out;
}

main .registerForm .profileImgBtn {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
main .registerForm .uploadProfileImg {
  width: 110px;
  height: 110px;
  margin: -60px 0 0;
  border: 1px solid var(--borderColor);
  border-radius: 50%;
}

main .registerForm .uploadProfileImgIcon {
  position: relative;
  top: -30px;
  width: 36px;
  height: 36px;
}

main .registerForm input::placeholder {
  color: var(--borderColor);
}

main .registerForm .registerFormAlert {
  align-self: flex-start;
  color: orangered;
  font-size: 13px;
}

main .registerForm .registerFormBtn {
  background-color: var(--mainColor);
  color: white;
  margin: 30px 0 0;
  opacity: 0.3;
}

article .registerByEmail {
  margin-top: -50px;
  color: var(--textColor);
  font-size: 13px;
  display: flex;
  align-items: flex-end;
  text-align: center;
}
