.modalBg {
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  z-index: 200;
  display: flex;
  align-items: flex-end;
  background-color: rgba(0, 0, 0, 0.3);
}

.modalBg .modal {
  z-index: 300;
  width: 100%;
  box-shadow: 0px -10px 10px 1px rgba(0, 0, 0, 0.3);
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.modalBg .modal button {
  background-color: white;
}

.modal .modalBtn:hover {
  background-color: var(--subColor);
}

.modal .modalClose::before {
  display: block;
  content: "";
  width: 50px;
  height: 4px;
  background: var(--borderColor);
  border-radius: 5px;
  margin: 16px auto;
}

.modal .modalClose:hover.modalClose::before {
  background: var(--mainColor);
}

.modal .modalBtn {
  text-align: left;
  padding: 14px 26px;
  font-size: 14px;
}

.hidden {
  display: none !important;
}

.appear {
  animation: appear 0.3s;
}

@keyframes appear {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
}
